2_StudentIntervention/ignorethis/
5_Capstone/DeepLearning/L1/notMNIST_large.tar.gz
5_Capstone/DeepLearning/L1/notMNIST_small.tar.gz
5_Capstone/DeepLearning/L1/notMNIST.pickle
5_Capstone/DeepLearning/L1/notMNIST_large/
5_Capstone/DeepLearning/L1/notMNIST_small/
5_Capstone/DeepLearning/L1/.ipynb_checkpoints/
5_Capstone/DeepLearning/MartinGorner/data/
5_Capstone/DeepLearning/MartinGorner/mydata/
5_Capstone/DeepLearning/sentdex/mydata/
5_Capstone/DeepLearning/FinalProject/mydata/
5_Capstone/DeepLearning/FinalProject/data/
5_Capstone/DeepLearning/hvass/data/
5_Capstone/DeepLearning/FinalProject/img/
5_Capstone/DeepLearning/FinalProject/MNIST_data/
5_Capstone/DeepLearning/FinalProject/cps/